$border-color: #4f524d;
$keyboard-color: #c0fabb;
$keyboard-border-color-light: #7dfe72;
$keyboard-border-color-dark: #3b9c33;
$font-primary-color: #4f524d;
$key-primary-color: #fffeef;
$key-active-color: #f8fd8e;

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}

.title {
  text-align: center;
  font-size: 2em;
  letter-spacing: 0.01em;
  margin-top: 20px;
  font-family: "Calibri", "Times New Roman", Times, serif;
  color: $font-primary-color;
  opacity: 0.9;
}

.content {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content__p {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}
.content__text {
  padding: 15px;
  font-size: 1.05em;
  color: #303c54;
  font-weight: 600;
  background-color: $key-primary-color;
  border-radius: 15px;
  border: 10px solid #eec9ff;
  text-align: justify;

  &:focus {
    border: 10px solid #eec9ff;
  }
}
.keyboard {
  margin-top: 10px;
  padding: 10px;
  width: 650px;
  
  background: radial-gradient(circle at center, $keyboard-color, $keyboard-border-color-light);
  border-radius: 15px;
  border: 5px solid $keyboard-border-color-dark;
  
  display: flex;
  flex-direction: column;
  row-gap: 5px;

}

.keyboard__row {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}
.keyboard__key-additional-text {
  display: none;
}
.keyboard__key {
  min-width: 35px;
  height: 35px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $key-primary-color;
  box-shadow: 2px 3px #6c6b6b;
  color: $font-primary-color;
  transition: background-color 0.5s, box-shadow 0.1s;
  border: 1px solid $border-color;
  border-radius: 40%;

  &:active {
    box-shadow: 0px 0px;
    opacity: 0.8;
    background-color: $key-active-color;
  }
  &:hover {
    cursor: pointer;
    background-color: $key-active-color;
  }
}
.keyboard__key_special {
  background-color: #eec9ff;
  border-radius: 20px;
  font-weight: 600;
}

.Space {
  min-width: 40%;
}
.ShiftLeft,
.ShiftRight {
  min-width: 95px;
}
.AltLeft,
.AltRight {
  width: 35px;
}
.ControlLeft, 
.ControlRight {
  width: 45px;
}
.CapsLock {
  min-width: 95px;
}
.MetaLeft {
  width: 35px;
}
.Enter {
  min-width: 95px;
}
.keyboard__key_active {
  box-shadow: 0px 0px;
  opacity: 0.8;
  background-color: $key-active-color;
}